{% extends 'base.html' %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}

<form class="default-form" method="post">
    <h2>Iniciar sesión</h2>
    {% csrf_token %}
    <label for="id_username">Usuario:</label>
    {{ form.username }}
    <label for="id_password">Contraseña:</label>
    {{ form.password }}
    {% if form.errors %}
        <p class="error-message">Usuario o contraseña inválidos. Inténtalo de nuevo.</p>
    {% endif %}

    <button class="default-button" type="submit">Ingresar</button>
    <p>¿No tienes cuenta? Pide al administrador que te registre.</p>
</form>

{% endblock %}
