{% extends 'base.html' %}
{% block title %}Cuenta{% endblock %}
{% block content %}
<div class="account-container">
    <!-- Fornulario para editar los datos del usuario -->
    <form class="default-form" method="post" action="{% url 'account' %}">
        {% csrf_token %}
        <h2>Cuenta de {{ user.first_name }} {{ user.last_name }}</h2>
        <label for="id_first_name">Nombre:</label>
        <input type="text" name="first_name" id="id_first_name" value="{{ user.first_name }}" required>

        <label for="id_last_name">Apellido:</label>
        <input type="text" name="last_name" id="id_last_name" value="{{ user.last_name }}" required>

        <label for="id_email">Email:</label>
        <input type="email" name="email" id="id_email" value="{{ user.email }}" required>

        <button class="default-button" type="submit">Guardar cambios</button>
    </form>
    <form class="logout" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="default-button" type="submit">Cerrar sesión</button>
    </form>

{% endblock %}