{% extends 'base.html' %}
{% load markdown_tags %}

{% block title %}{{chat.chat_name}}{% endblock %}

{% block content %}
<h3>{{chat.chat_name}}</h3>
<div class="chat-container">
    <!-- Área de mensajes -->
    <div class="chat-messages"  id="chat-messages">
        {% for mensaje in mensajes %}
            <div class="message message-{{ mensaje.message_type }}">
                {% if mensaje.message_type == 'bot' %}
                    {{ mensaje.content|markdownify|safe }}
                {% else %}
                    {{ mensaje.content }}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <!-- Input -->
    <form class="input-form" method="post">
        {% csrf_token %}
        <div class="chat-input">
            <textarea name="contenido" class="input-box" rows="1" placeholder="Ingresa tu pregunta..." required></textarea>
            <button class="send-button" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/>
                </svg>
            </button>
        </div>
    </form>
</div>
{% endblock %}
