:root {
  --primary-color: #0075C9;
  --primary-color-hover: #0064ac;
  --secondary-color: #303030;
  --text-color: #fff;
  --background-color: #212121;
  --warning-color: #fd5c5c;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  height: 100vh;
  display: flex;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

aside {
    height: 100vh;
    width: 250px;
    padding: 20px;
    background: var(--primary-color);
    color: var(--text-color);
}

aside a {
    text-decoration: none;
    width: 100%;
    color: var(--text-color);
}

aside li {
    padding: 12px;
    border-radius: 16px;
}

aside li:hover {
    background-color: var(--primary-color-hover);
}

.aside-body {
    height: 80vh;
    overflow-y: auto;
    padding-right: 8px;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.topbar {
    display: flex;
    justify-content: flex-end;
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    line-height: 42px; 
    font-weight: bold;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.avatar:hover {
    background-color: var(--primary-color-hover);
}

.content {
    width: 50%;
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    /* height: 750px; */
    justify-content: space-between;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-radius: 16px;
    background-color: var(--secondary-color);
    justify-content: space-between;
}
/* 
.input-box {
    background-color: #303030;
    width: 100%;
    border: none;
    color: #fff;
    margin-right: 10px;
} */

.input-box {
    font-family: 'Lato', sans-serif;
    resize: none;             /* evita que el usuario cambie el tamaño manualmente */
    width: 100%;
    min-height: 16px;
    max-height: 150px;        /* límite si quieres evitar crecimiento infinito */
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    overflow-y: auto;
    word-wrap: break-word;
}


.input-box:focus {
    outline: none;
}

.send-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.send-button svg {
    width: 20px;
    height: 20px;
    fill: var(--secondary-color);
}

.send-button:hover {
    background-color: var(--primary-color-hover);
}

.chat-messages {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message {
    margin: 15px 0;
    width: fit-content;
    border-radius: 16px;
}

.message-user {
    align-self: flex-end;
    padding: 14px;
    background-color: var(--secondary-color);
}

.message-bot {
    align-self: flex-start;
}

.message-bot li{
    margin: 16px 0;
}

.logout {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout button {
    all: unset;
    font-size: 14px;
    color: var(--warning-color);
}

.logout button:hover {
    cursor: pointer;
    background-color: unset;
    text-decoration: underline;
}

.default-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    max-width: 50%;
}

.default-form input {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
}

.default-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.default-button:hover {
    background-color: var(--primary-color-hover);
}

.message-system {
    border: var(--warning-color) solid 1px;
    color: var(--warning-color);
    padding: 14px;
}

pre, code {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 6px;
    display: block;
    overflow-x: auto;
    font-family: monospace;
    font-size: 14px;
    margin-top: 10px;
    white-space: pre-wrap;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #2c2c2c71; /* Color del fondo del track */
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Color del thumb */
  border-radius: 4px;
  border: 2px solid #2c2c2c; /* Da margen interno para que se vea más fino */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color-hover);
}

/* Estilo del contenedor de cada chat */
.chat-item {
  position: relative;
  background-color: var(--primary-color);
  border-radius: 16px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-item:hover {
  background-color: var(--primary-color-hover);
}

.chat-item-selected {
  background-color: var(--primary-color-hover);
}

/* El botón de tres puntos está oculto por defecto */
.menu-btn {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
  visibility: hidden;  /* El botón está oculto inicialmente */
  opacity: 0;          /* También lo hace invisible */
  transition: visibility 0.2s, opacity 0.2s; /* Transición suave */
  margin-right: 10px;
}

.menu-btn:hover {
  color: var(--text-color); /* Cambia el color al pasar el mouse */
}

/* Mostrar el botón de tres puntos cuando el mouse está sobre el chat-item */
.chat-item:hover .menu-btn {
  visibility: visible;  /* Hacer visible */
  opacity: 1;            /* Hacer opaco */
}

/* Menú contextual */
.context-menu {
  display: none;  /* Inicialmente oculto */
  position: absolute;
  top: 100%;  /* Se posiciona justo debajo del botón */
  right: 0;
  background-color: var(--secondary-color);
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
  min-width: 150px;
}

.context-menu svg,
.context-menu span {
  display: inline-block;
  vertical-align: middle;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu ul li {
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 4px;
}

.context-menu ul li:hover {
  background-color: var(--primary-color-hover);
}

.context-menu ul li a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.delete-option {
    color: var(--warning-color);
}

.delete-option svg {
    fill: var(--warning-color);
}

/* SEPARADOR */

/* Estilos generales para el modal */
.modal {
  display: none; /* Ocultar modal por defecto */
  position: fixed;
  z-index: 1000; /* Asegura que esté encima del contenido */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  overflow: auto;
  padding-top: 100px;
}

.modal-content {
  background-color: var(--secondary-color);
  margin: 5% auto;
  padding: 20px;
  border-radius: 16px;
  width: 80%;
  max-width: 400px;
}

.close-btn {
  color: var(--text-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--primary-color);
}

.modal h2 {
  color: var(--text-color);
}

.modal-edit {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-content input {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
}

.modal button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.modal button:hover {
  background-color: var(--primary-color-hover);
}

/* Estilo específico para el botón de eliminar */
#delete-confirm-btn {
  background-color: var(--warning-color);
}

#delete-confirm-btn:hover {
  background-color: #cc5c5c;
}

.error-message {
  color: var(--warning-color);
  font-size: 14px;
  margin: 10px 0;
}

/* Loader */

.dot-loader span {
  font-size: 2rem;
  animation: bounce 1s infinite;
  display: inline-block;
}
.dot-loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.dot-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
